= form_for @staff, html: { class: 'form-horizontal' } do |f|
  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'text_field'
  .control-group
    = f.label :approved, class: 'control-label'
    .controls
      %div.make-switch
        = f.check_box :approved
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t('helpers.links.cancel')), staffs_path, class: 'btn'
