- model_class = Staff
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize

- if user_signed_in_and_approved?
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:created_at)
        %th= model_class.human_attribute_name(:updated_at)
        %th= model_class.human_attribute_name(:approved)
        %th=t '.actions', default: t('helpers.actions')
    %tbody
      - @staffs.each do |staff|
        %tr
          %td= staff.name
          %td=l staff.created_at
          %td=l staff.updated_at
          %td
            - if staff.approved
              %span.badge.badge-success on
            - else
              %span.badge.badge-important off
          %td
            = link_to t('.edit', default: t('helpers.links.edit')), edit_staff_path(staff), class: 'btn btn-primary'

