- model_class = Staff
.page-header
  %h1=t '.title', default: 'Profile'

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @staff.name
%p
  %strong= 'Email:'
  %br
  = @staff.user.email

.form-actions
  = link_to t('.back', default: t('helpers.links.back')), staffs_path, class: 'btn'
  = link_to t('.edit', default: t('helpers.links.edit')), edit_staff_path(@staff), class: 'btn btn-primary'
