- model_class = TicketHistory
.page-header
  %h1=t '.title', default:  model_class.model_name.human.pluralize.titleize

- primary_model_class = Ticket
%p
  %strong= primary_model_class.human_attribute_name(:subject) + ':'
  %br
  = @ticket.subject
%p
  %strong= primary_model_class.human_attribute_name(:body) + ':'
  %br
  = @ticket.body
%p
  %strong= 'Customer: '
  %br
  = @ticket.customer.name + '; email:' + @ticket.customer.email


%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:staff_id)
      %th= model_class.human_attribute_name(:state)
      %th= model_class.human_attribute_name(:resolution)
      %th= model_class.human_attribute_name(:created_at)
      - if user_signed_in_and_approved?
        %th=t '.actions', default: t('helpers.actions')
  %tbody
    - @ticket_histories.each do |ticket_history|
      %tr
        %td= link_to ticket_history.id, ticket_ticket_history_path(@ticket,ticket_history)
        %td= ticket_history.staff_id
        %td= ticket_history.state
        %td= ticket_history.resolution
        %td=l ticket_history.created_at
        - if user_signed_in_and_approved?
          %td
            = link_to t('.edit', default: t('helpers.links.edit')), edit_ticket_ticket_history_path(@ticket,ticket_history), class: 'btn'

- if user_signed_in_and_approved?
  = link_to t('.new', default: t('helpers.links.new')), new_ticket_ticket_history_path(@ticket), class: 'btn btn-primary'
